body
{
  background-color: #5b5b5b;
  color: white;
  margin-top: 0em;
  margin-right: 0em;
  margin-bottom: 0em;
  margin-left: 0em;
}

nav
{
    margin: 0;
    padding: 0;
    text-align: center;
}
a
{
  color: orange;
}

p
{

}

h1
{
  background-color:
  color:
}

h2
{
    background-color:
    color:
}

h3
{
    background-color: #4bed8c;
    color: black;
}

h3.mar
{
    margin-left: 3em;
    margin-right: 3em;
    padding: 4px;

}



em
{

}

strong
{
  color
}


.big
{
    font-weight: bold;
    
}