body
{
    background-image: url(images/back.jpg);
    font-family: Futura;
    background-attachment: fixed;
}

img 
{
    float: right;
    border: solid gray 3px;
}

h3
{
    background-color: gray;
    opacity: 0.75;
    padding-left: 5px;
    padding-right: 5px;
    clear: right
}

footer
{
    text-align: center;
    background-image: url(images/gray.jpg)
    text-shadow: 3px 4px darkgray;
    padding: 5px 0 5px 0;
}