body
{
    background-image: url(images/back.jpg);
    font-family: Futura;
    background-attachment: fixed;
    padding-left: 10px
}

img 
{
    float: right;
    border: solid gray 3px;
}

h3
{
    background-color: gray;
    opacity: 0.85;
    padding-left: 5px;
    padding-right: 5px;
    clear: right;
    border: solid black 3px;
    width: 160px;
    text-align: center;
    margin: 1em 2em 1em 1.5em
    
}

footer
{
    text-align: center;
    background-image: url(images/gray.jpg);
    text-shadow: 3px 4px darkgray;
    padding: 5px 0 5px 0;
    margin-top: 10em;
}

a
{
    text-decoration: none;
    color: black;
}
ul a:hover
{
    color: white;
    font-weight: bold;
    text-decoration: none;
    display: block;
    background-color: blue;
    padding: 3px;
    width: 210px;
}

a:hover.small
{
    color: white;
    font-weight: bold;
    text-decoration: none;
    display: block;
    background-color: blue;
    padding: 3px;
    width: 90px;
}


div
{
}


.col
{
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;

    -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
    -moz-column-gap: 40px; /* Firefox */
    column-gap: 40px;

    -webkit-column-rule: 4px outset #000000; /* Chrome, Safari, Opera */
    -moz-column-rule: 4px outset #000000; /* Firefox */
    column-rule: 4px outset #000000;
}